{deps, 
 [
  {esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor.git", {branch, "master"}}},
  {seresye, ".*", {git, "https://github.com/afiniate/seresye.git", {branch, "master"}}},
  {erlware_commons, ".*", {git, "https://github.com/erlware/erlware_commons", {branch, "master"}}},
  {webmachine, ".*", {git, "https://github.com/basho/webmachine.git", {branch, "master"}}}
 ]
}.
